<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ApplyLoanServlet</display-name>
    <servlet-name>ApplyLoanServlet</servlet-name>
    <servlet-class>controller.ApplyLoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyLoanServlet</servlet-name>
    <url-pattern>/ApplyLoanServlet</url-pattern>
  </servlet-mapping>
  <display-name>LoanManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveLoanServlet</display-name>
    <servlet-name>ApproveLoanServlet</servlet-name>
    <servlet-class>controller.ApproveLoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveLoanServlet</servlet-name>
    <url-pattern>/ApproveLoanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectLoanServlet</display-name>
    <servlet-name>RejectLoanServlet</servlet-name>
    <servlet-class>controller.RejectLoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectLoanServlet</servlet-name>
    <url-pattern>/RejectLoanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovedLoansServlet</display-name>
    <servlet-name>ApprovedLoansServlet</servlet-name>
    <servlet-class>controller.ApprovedLoansServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovedLoansServlet</servlet-name>
    <url-pattern>/ApprovedLoansServlet</url-pattern>
  </servlet-mapping>
</web-app>