<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Products</title>
</head>
<body>
<form class="d-flex" th:action="@{/view/products/search}" method="get">
        <input class="form-control me-2" type="search" th:name="name" placeholder="Search" aria-label="Search" >
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p : ${products}">
				<td th:text="${p.id}"></td>
				<td th:text="${p.name}"></td>
				<td th:text="${p.description}"></td>
				<td th:text="${p.price}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>